[appsettings.json]                                                                                                                                                                                                                                                                                                                                           
typed_config.excluded_sections = Logging
